.app{
  height: 100vh;
  background: rgb(158, 228, 252);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tweet{
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height:150px ;
}
.red{
  color:crimson;
  font-size: 50px;
}